<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        background-color: black;
    }
    .container{
        height: 400px;
        width: 24%;
        background-color: blueviolet;
        margin:2px;
        display: inline-block;
        border-radius: 25px;

    }
    .image-box{
        height: 60%;
        border: 2px  red;
    }
    .deatil-box{
        height:38%;
        width: 50%;
        

    }
    img{
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }
    h2,h3,h4{
       text-align: center;
    }
</style>
</head>
<body>
   
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
   <div class="container">
    <div class="image-box">
        <img src="https://i.tribune.com.pk/media/images/1320476-AkshayKumar-1486539573/1320476-AkshayKumar-1486539573.JPG" alt="">
    </div>
    <div class="detail-box">
        <h2>title:shirt</h2>
        <h3>price:500</h3>
        <h4>description.....</h4>
    </div>
   </div>
</body>
   
</html>